<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'medicines')}">
<head>
    <meta charset="UTF-8">
    <title>Learn Pharm Demo</title>
</head>
<!--<body>
    <h1 th:text="Index Page"> </h1>
</body>-->
<body>
<h2 th:text="'List of Medicines'">Medicines List</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 150px;"> Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="medicine : ${medicines}">
        <td th:text="${medicine.id}">1</td>
        <td th:text="${medicine.name}">Joe</td>
    </tr>
    </tbody>
    </tr>
</table>
</body>
</html>