<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

  <body>
    <h2>Medicine Information</h2>

    <table class="table table-striped" th:object="${medicine}">
      <tr>
        <th>Name</th>
        <td th:text="*{name}" /></td>
      </tr>
      <tr>
          <th>Country</th>
          <td th:text="*{country.name}"/>
          </td>
      </tr>
        <tr>
            <th>Manufacturer</th>
            <td th:text="*{manufacturer.name}"/>
            </td>
        </tr>
        <tr>
            <th>Number of plates</th>
            <td th:text="*{numberOfPlates}"/>
            </td>
        </tr>
        <tr>
            <th>Category</th>
            <td th:text="*{category.name}" /></td>
        </tr>
    </table>

    <a th:href="@{{id}/edit(id=${medicine.id})}" class="btn btn-default">Edit
      Medicine</a>
    <br />
    <br />
    <br />
  </body>

</html>
