<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

  <body>
  <h2 th:text="#{medicineInfo}"></h2>

    <table class="table table-striped" th:object="${medicine}">
        <tr>
            <th th:text="#{barCodeText}">Barcode</th>
            <td th:text="*{barCode}"/>
            </td>
        </tr>
        <tr>
        <tr>
            <th th:text="#{nameText}">Name</th>
        <td th:text="*{name}" /></td>
      </tr>
      <tr>
          <th th:text="#{countryText}">Country</th>
          <td th:text="*{country.name}"/>
          </td>
      </tr>
        <tr>
            <th th:text="#{manufacturerText}">Manufacturer</th>
            <td th:text="*{manufacturer.name}"/>
            </td>
        </tr>
        <tr>
            <th th:text="#{countryText}">Number of plates</th>
            <td th:text="*{numberOfPlates}"/>
            </td>
        </tr>
        <tr>
            <th th:text="#{categoryText}">Category</th>
            <td th:text="*{category.name}" /></td>
        </tr>
    </table>

  <a th:href="@{{id}/edit(id=${medicine.id})}" class="btn btn-default" th:text="#{editText}">Edit
      Medicine</a>
    <br />
    <br />
    <br />
  </body>

</html>
