<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'medicines')}">
<head>
    <meta charset="UTF-8">
    <title>Learn Pharm Demo</title>
</head>
<body>
<b>
    <a th:href="@{/medicines/new}" th:text="#{createNewMedicine}"/></a>
</b>
<br/>
<h2 th:text="#{listOfMedicines}">Medicines List</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;" th:text="#{barCodeText}">Barcode</th>
        <th style="width: 150px;" th:text="#{nameText}"> Name</th>
        <th style="width: 150px;" th:text="#{countryText}"> Country</th>
        <th style="width: 150px;" th:text="#{categoryText}">Category</th>
    </tr>
    </thead>
    <tbody>
       <tr th:each="medicine, iStat  : ${medicinePage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
           <td th:text="${medicine.id}">1</td>
        <td>
            <a class="tableLink" th:href="@{/medicines/__${medicine.id}__}" th:text="${medicine.barCode}"/></a>
        </td>
           <td th:text="${medicine.country.name}">Country</td>
           <td th:text="${medicine.category.name}">Category</td>
    </tr>
    </tbody>
    </tr>
</table>
<div th:if="${medicinePage.totalPages > 1}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/medicines/listMedicines(size=${medicinePage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==medicinePage.number + 1} ? active"></a>
</div>
</body>
</html>