<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'suppliers')}">
<head>
    <meta charset="UTF-8">
    <title>Learn Pharm Demo</title>
</head>
<!--<body>
    <h1 th:text="Index Page"> </h1>
</body>-->
<body>
<h2 th:text="'List of Suppliers'">Suppliers List</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 150px;"> Name</th>
        <th style="width: 150px;"> Contact Number</th>
        <th style="width: 150px;"> Address </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="supplier, iStat  : ${supplierPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${supplier.supplierId}">1</td>
        <td>
            <a th:href="@{/suppliers/__${supplier.supplierId}__}" th:text="${supplier.name}"/></a>
        </td>
        <td th:text="${supplier.contactNumber}">Contact Number</td>
        <td th:text="${supplier.address}">Address</td>
    </tr>
    </tbody>
    </tr>
</table>
<div th:if="${supplierPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/suppliers/listSuppliers(size=${supplierPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==supplierPage.number + 1} ? active"></a>
</div>
</body>
</html>