<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<div>
    <div th:fragment="languageGeneral" th:remove="tag">
        <input type="hidden" id="medicineAlreadyExistMessage" th:value="#{medicineAlreadyExistMessage}"/>
        <input type="hidden" id="medicineDoesNotExistMessage" th:value="#{medicineDoesNotExistMessage}"/>
        <input type="hidden" id="medicineDoesNotExistInventoryMessage"
               th:value="#{medicineDoesNotExistInventoryMessage}"/>
        <input type="hidden" id="notFoundPriceException" th:value="#{notFoundPriceException}"/>
        <input type="hidden" id="notFoundException" th:value="#{notFoundException}"/>
        <input type="hidden" id="notAllFieldsAreFilled" th:value="#{notAllFieldsAreFilled}"/>
    </div>
    <div th:fragment="languageEditableTable" th:remove="tag">
        <input type="hidden" id="nextPaginationMessage" th:value="#{nextMessage}"/>
        <input type="hidden" id="prevPaginationMessage" th:value="#{prevMessage}"/>
        <input type="hidden" id="firstPaginationMessage" th:value="#{firstMessage}"/>
        <input type="hidden" id="lastPaginationMessage" th:value="#{lastMessage}"/>
        <input type="hidden" id="addRecordIsInProcessMessage" th:value="#{addRecordIsInProcessMessage}"/>
        <input type="hidden" id="suppliedCostInputEmptyMessage" th:value="#{suppliedCostInputEmptyMessage}"/>
        <input type="hidden" id="saleQuantityExceedsMessage" th:value="#{saleQuantityExceedsMessage}"/>
        <input type="hidden" id="saleQuantityInputEmptyMessage" th:value="#{saleQuantityInputEmptyMessage}"/>
        <input type="hidden" id="markupPercentageInputEmptyMessage" th:value="#{markupPercentageInputEmptyMessage}"/>
    </div>
</div>
</body>
</html>