<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'inventory')}">

<body>
<h2 th:text="#{inventoryText}">Inventory</h2>


<form th:object="${inventory}" class="form-horizontal" id="add-inventory-form" method="post">

    <div class="form-group has-feedback">
        <input
                type="hidden" name="inventoryId" th:field="*{inventoryId}" th:value="${inventoryId}"/>
        <input
                id="medicineIdInput" type="hidden" name="medicine" th:field="*{medicine}" value=""/>
        <select
                th:replace="~{fragments/selectField :: select (#{suppliersText}, 'supplier',  ${suppliers})}"/>
        <select
                th:replace="~{fragments/selectField :: select (#{acceptingPharmacistText}, 'acceptingPharmacist',  ${acceptingPharmacists})}"/>
        <div id="ui-widget-search" class="ui-widget">
            <div class="form-group">
                <label id="tagQueryLabel" class="col-sm-2 control-label" for="tagQuery" th:text="#{medicineText}">Medicine</label>
                <div class="col-sm-10">
                    <input id="tagQuery" class="form-control" th:value="*{medicine != null} ? *{medicine.name} : ''"
                           type="text" name="tagQuery" onFocus="inputFocus(this)" onBlur="inputBlur(this)">
                </div>
            </div>
        </div>
        <input
                th:replace="~{fragments/inputField :: input (#{invoiceText}, 'invoice.id', 'text')}"/>
        <input
                th:replace="~{fragments/inputField :: input (#{priceText}, 'price', 'text')}"/>
        <input
                th:replace="~{fragments/inputField :: input (#{quantityText}, 'quantity', 'text')}"/>
        <input
                th:replace="~{fragments/inputField :: input (#{suppliedCostText}, 'suppliedCost', 'text')}"/>
        <input
                th:replace="~{fragments/inputField :: input (#{suppliedDateText}, 'suppliedDate', 'date')}"/>

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                    th:with="text=${inventory.inventoryId==null} ? 'Add inventory' : 'Update inventory'"
                    class="btn btn-default" type="submit" th:text="${text}">Add
                Inventory
            </button>
        </div>
    </div>
</form>
<script type="text/javascript">
	function inputFocus(i){
		if(i.value==i.defaultValue){ i.value=""; i.style.color="#000"; }
	}
	function inputBlur(i){
		if(i.value==""){ i.value=i.defaultValue; i.style.color="#848484"; }
	}

</script>
<script type="text/javascript">
    $(document).ready(function() {
     //attach autocomplete
    $("#tagQuery").autocomplete({
        minLength: 1,
        delay: 500,
        //define callback to format results
        source: function (request, response) {
            $.getJSON("/medicines/findByName", request, function(result) {
                response($.map(result, function(item) {
                    return {
                        // following property gets displayed in drop down
                        label: item.name + "(" + item.id + ")",
                        // following property gets entered in the textbox
                        value: item.name,
                        // following property is added for our own use
                        id: item.id
                    }
                }));
            });

        },
        //define select handler
        select : function(event, ui) {
            if (ui.item) {
                console.log(ui.item);
                //event.preventDefault();
                $("#selected_tags span").append('<a href=" + ui.item.tag_url + " target="_blank">'+ ui.item.label +'</a>');
                //$("#tagQuery").value = $("#tagQuery").defaultValue
                var defValue = $("#tagQuery").prop('defaultValue');
                $("#tagQuery").val(ui.item.value);
                $("#medicineIdInput").val(ui.item.id);
                console.log($("#medicineIdInput").value);
                $("#tagQuery").blur();
                return false;
            }
        }
    });
});
</script>
<!--<script th:src="@{/js/searchMedicineAutoComplete.js}"></script>-->
</body>
</html>
