<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'inventory')}">
<head>
    <meta charset="UTF-8">
    <title>Learn Pharm Demo</title>
</head>

<body>

<br/>
<h2 th:text="#{inventoryText}">Inventory List</h2>
<input type="hidden" id="totalPages" name="inventory" th:value="${totalPages}"/>
<input id="searchMedicine" name="inventory"/>

<table id="listInventory" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;" th:text="#{idText}">Id</th>
        <th style="width: 150px;" th:text="#{inventoryVersionNumber}">inventoryVersionNumber</th>
        <th style="width: 150px;" th:text="#{medicineText}"> medicine</th>
        <th style="width: 150px;" th:text="#{invoiceInventoryItemsSize}"> InvoiceInventoryItemsSize</th>
        <th style="width: 150px;" th:text="#{salesSize}"> salesSize</th>
        <th style="width: 150px;" th:text="#{totalActiveQuantity}"> totalActiveQuantity</th>
        <th style="width: 150px;" th:text="#{totalActiveCost}"> totalActiveCost</th>
        <th style="width: 150px;" th:text="#{totalActivePriceSum}"> totalActivePriceSum</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="inventory, iStat  : ${inventoryPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td>
            <a class="tableLink" th:href="@{/inventory/__${inventory.inventoryId}__}"
               th:text="${inventory.inventoryId}"/></a>
        </td>
        <td th:text="${inventory.inventoryVersionNumber}">inventoryVersionNumber</td>
        <td th:text="${inventory.medicine.name}">medicine</td>
        <td>
            <div th:if="${inventory.invoiceInventoryItemsSize > 0}">
                <a class="tableLink" th:href="@{/inventory/listInvoiceInventoryItems/__${inventory.inventoryId}__}"
                   th:text="${inventory.invoiceInventoryItemsSize}"/></a>
            </div>
            <div th:unless="${inventory.invoiceInventoryItemsSize > 0}">
                <p th:text="${inventory.invoiceInventoryItemsSize}">medicine</p>
            </div>
        </td>
        <td th:text="${inventory.salesSize}">salesSize</td>
        <td th:text="${inventory.totalActiveQuantity}">totalActiveQuantity</td>
        <td th:text="${inventory.totalActiveCost}">totalActiveCost</td>
        <td th:text="${inventory.totalActivePriceSum}">totalActivePriceSum</td>
    </tr>
    </tbody>
    </tr>
</table>
<!--<div th:if="${inventoryPage.totalPages > 1}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/inventory/listInventory(size=${inventoryPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==inventoryPage.number + 1} ? active"></a>
    </div>-->
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul id="pagination-inventory-list" class="pagination-lg pull-right"></ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/dataTable.js"></script>
</body>
</html>