<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'invoices')}">

<body>

<h2>Invoice</h2>
<form th:object="${invoice}" class="form-horizontal" id="add-invoice-form" method="post">
    <div class="form-group has-feedback">

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                    th:with="text=${invoice.id==null} ? 'Add invoice' : 'Update invoice'"
                    class="btn btn-default" type="submit" th:text="${text}">Add
                invoice
            </button>
        </div>
    </div>
</form>
</body>
</html>