<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'invoices')}">
<head>
    <meta charset="UTF-8">
    <title>Learn Pharm Demo</title>
</head>

<body>
<!-- Editable table -->
<div id="1" class="card">
    <form method="POST" id="edit_form"></form>
    <form method="POST" id="add_form"></form>
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Invoices</h3>
    <div class="card-body">
        <div id="table" class="table-editable" th:fragment="editableTable">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
              class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                <tr>
                    <th style="width: 150px;"> medicine</th>
                    <th style="width: 150px;"> invoice</th>
                    <th style="width: 150px;"> supplier</th>
                    <th style="width: 150px;"> price</th>
                    <th style="width: 150px;"> suppliedCost</th>
                    <th style="width: 150px;"> suppliedDate</th>
                    <th style="width: 150px;"> Quantity</th>
                    <th style="width: 150px;"> acceptingPharmacist</th>
                    <th style="width: 150px;"> *</th>
                    <th style="width: 150px;"> **</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="inventory, iStat  : ${invoiceInventoryPage.content}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">
                    <td class="pt-3-half">
                        <th:block th:text="${inventory.medicine.name}"></th:block>
                        <input type="hidden" id="medicineId" th:value="${inventory.medicine.id}"/>
                        <input type="hidden" id="medicineName" th:value="${inventory.medicine.name}"/>
                    </td>
                    <td class="pt-3-half" th:text="${inventory.invoice.id}">invoice</td>
                    <td class="pt-3-half">
                        <th:block th:text="${inventory.supplier.name}"></th:block>
                        <input type="hidden" id="supplierHiddenId" th:value="${inventory.supplier.id}"/>
                    </td>
                    <td class="pt-3-half" th:text="${inventory.price}">price</td>
                    <td class="pt-3-half" th:text="${inventory.suppliedCost}">suppliedCost</td>
                    <td class="pt-3-half" th:text="${inventory.suppliedDate}">suppliedDate</td>
                    <td class="pt-3-half" th:text="${inventory.quantity}">Quantity</td>
                    <td class="pt-3-half">
                        <th:block th:text="${inventory.acceptingPharmacist.name}"></th:block>
                        <input type="hidden" id="pharmacistHiddenId" th:value="${inventory.acceptingPharmacist.id}"/>
                    </td>
                    <td class="pt-3-half">
                        <input type="hidden" name="inventoryId" th:value="${inventory.inventoryId}"/>
                        <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                                                                         aria-hidden="true"></i></a></span>
                        <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                                                                                     aria-hidden="true"></i></a></span>
                    </td>
                    <td>
                        <span class="table-edit"><button type="button"><i class="fas fa-edit"
                                                                          style="font-size:20px;color:red"
                                                                          aria-hidden="true"></i></button></span>
                        <span class="table-submit" style="display: none;"><button type="button"
                        ><i class="fa fa-paper-plane" style="color:red" aria-hidden="true"></i></button></span>
                        <span class="table-remove" style="display: none;"><button type="button"
                        ><i class="fa fa-times-circle" style="color:red" aria-hidden="true"></i></button></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/editableTable.js"></script>
<script type="text/javascript" src="/js/searchMedicineByBarcode.js"></script>

<b>
    <a th:href="@{/inventory/new}"/>create new inventory</a>
</b>

<div th:if="${invoiceInventoryPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/invoices/listInventory(size=${invoiceInventoryPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==invoiceInventoryPage.number + 1} ? active"></a>
</div>
</body>
</html>