<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'invoices')}">
<head>
    <meta charset="UTF-8">
    <title>Learn Pharm Demo</title>
</head>
<body>
<b>
    <a th:href="@{/invoices/new}" th:text="#{createNewInvoice}"/></a>
</b>
<br/>
<h2 th:text="#{listOfInvoices}">Invoices List</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;" th:text="#{idText}"> Id</th>
        <th style="width: 150px;" th:text="#{suppliersText}"> Supplier</th>
        <th style="width: 150px;" th:text="#{numberOfInvoiceInventoryItems}"> Number of inventories</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="invoice, iStat  : ${invoicePage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td>
            <a class="tableLink" th:href="@{/invoices/__${invoice.id}__}" th:text="${invoice.id}"/></a>
        </td>
        <td th:text="${invoice.supplier.name}">Supplier</td>
        <td th:text="${invoice.invoiceInventoryItems.size()}">Number of inventory</td>
    </tr>
    </tbody>
    </tr>
</table>
<div th:if="${invoicePage.totalPages > 1}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/invoices/listInvoices(size=${invoicePage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==invoicePage.number + 1} ? active"></a>
</div>
</body>
</html>
