<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Not Implemented</title>
</head>
<body style="text-align: center;">
    <h3 th:text="'This is error! But you can enjoy this image for a while! :)'"> </h3>
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"
                 style="display: inline-flex;"/>
        </div>
    </div>
</body>
</html>