<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'inventory')}">

<body>

<h2 th:text="#{inventoryDetails}">Inventory Information</h2>
<table class="table table-striped" th:object="${inventory}">
    <tr>
        <th th:text="#{idText}">Inventory Id</th>
        <td th:text="*{inventoryId}"/>
        </td>
    </tr>
    <tr>
        <th th:text="#{medicineText}">Medicine</th>
        <td th:text="*{medicine.name}"/>
        </td>
    </tr>
    <tr>
        <th th:text="#{totalBoughtQuantity}">totalBoughtQuantity</th>
        <td th:text="*{totalBoughtQuantity}"/>
        </td>
    </tr>
    <tr>
        <th th:text="#{totalSoldQuantity}">totalSoldQuantity</th>
        <td th:text="*{totalSoldQuantity}"/>
        </td>
    </tr>
    <tr>
        <th th:text="#{totalBoughtCost}">totalBoughtCost</th>
        <td th:text="*{totalBoughtCost}"/>
        </td>
    </tr>
    <tr>
        <th th:text="#{totalSoldCost}">totalSoldCost</th>
        <td th:text="*{totalSoldCost}"/>
        </td>
    </tr>
    <tr>
        <th th:text="#{totalBoughtPriceSum}">totalBoughtPriceSum</th>
        <td th:text="*{totalBoughtPriceSum}"/>
        </td>
    </tr>
    <tr>
        <th th:text="#{totalSoldPriceSum}">totalSoldPriceSum</th>
        <td th:text="*{totalSoldPriceSum}"/>
        </td>
    </tr>
    <tr>
        <th th:text="#{totalSoldPriceSum}">totalSoldPriceSum</th>
        <td th:text="*{totalSoldPriceSum}"/>
        </td>
    </tr>
    <tr>
        <th th:text="#{totalActiveQuantity}">totalActiveQuantity</th>
        <td th:text="*{totalActiveQuantity}"/>
        </td>
    </tr>
    <tr>
        <th th:text="#{totalActiveCost}">totalActiveCost</th>
        <td th:text="*{totalActiveCost}"/>
        </td>
    </tr>
    <tr>
        <th th:text="#{totalActivePriceSum}">totalActivePriceSum</th>
        <td th:text="*{totalActivePriceSum}"/>
        </td>
    </tr>
</table>
<!--<a th:href="@{{id}/edit(id=${inventory.inventoryId})}" class="btn btn-default">Edit
    Inventory</a>-->
<br/>
<br/>
<br/>

</body>

</html>
