<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'suppliers')}">
  <body>
  <h2 th:text="#{supplierInfo}">Supplier Information</h2>
    <table class="table table-striped" th:object="${supplier}">
      <tr>
          <th th:text="#{nameText}">Name</th>
        <td th:text="*{name}" /></td>
      </tr>
      <tr>
          <th th:text="#{contactNumberText}">Contact Number</th>
        <td th:text="*{contactNumber}" /></td>
      </tr>
       <tr>
           <th th:text="#{addressText}">Address</th>
            <td th:text="*{address}" /></td>
        </tr>
    </table>
  <a th:href="@{{id}/edit(id=${supplier.id})}" class="btn btn-default" th:text="#{editText}">Edit
      Supplier</a>
    <br />
    <br />
    <br />
  </body>
</html>
